<div class="container">
  <div class="answer">
    <%= @answer %><br>
    <%= "-You" %><br>
  </div>

  <div class="coach_answer">
    <%= @coach_answer %><br>
    <%= "-Your coach" %>
  </div>

  <%= link_to "Ask a new question", ask_path %>
</div>
